/* pc */
@media (min-width: 1024px){
   
}
/* tablet */

@media (max-width: 1023px){

    .btn{
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    .contact-info{
        line-height: 2;
    }

    
    #footer .socials-list{
        font-size: 48px;
    }
    #footer .socials-list a{
        margin: 0 8px;
    }
    #footer .copyright{
        padding: 12px 0;
        display: inline-block;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    
}
/* Mobile */
@media (max-width: 739px){
    .s-col-full{
        width: 100% !important;
    }
    .s-full-width{
        width: 100% !important;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }

    .nav {
        display: block;
    }
    .nav > li{
        display: block;
    }
    .nav > li:first-child{
        display: inline-block;
    }
    .nav .subnav{
        position: initial;
    }
    .subnav > li > a{
        color: white;
        background-color: #333;
        padding: 11px 40px;

    }
    
    #header{
        overflow: hidden;
    }
    #header .search-btn{
        display: none;
    }
    #header .mobile-menu-btn{
        display: block;
    }
   
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img{
        width: 60%;
    }
    .contact-form{
        margin-top: 32px;
    }
}

